body {
  background: #EFEFEF;
}

div.main-wrapper {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}
header nav {
  align-self: flex-end;
  margin-bottom: 35px;
  padding: 20px 0;
  border-bottom: 1px solid #CFD8DC;
  border-top: 1px solid #CFD8DC;
}
header nav a {
  padding: 0 80px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FC5830;
}
header nav a:hover {
  color: #fdab97;
}

div.logo img {
  width: 350px;
}

div.toolbar {
  text-align: right;
  margin: 20px 0;
}
div.toolbar input {
  border: 1px solid #FC5830;
  padding: 10px 15px;
  background: #EFEFEF;
}
div.toolbar ::placeholder {
  color: #FC5830;
  font-weight: bold;
}

div.post-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
div.post-list article {
  margin-bottom: 10px;
  background: #FFFFFF;
  flex: 47%;
  max-width: 47%;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div.post-list article .post-description {
  color: #BDBDBD;
  padding: 0 0 10px;
  font-size: 14px;
  border-bottom: 1px solid #CFD8DC;
}
div.post-list article h3 {
  margin: 5px 0 0;
  text-transform: uppercase;
  color: #617D8A;
}
div.post-list article p {
  color: #757575;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}
div.post-list article p:first-of-type {
  margin: 0;
}
div.post-list article div {
  padding: 20px;
}
div.post-list img {
  width: 100%;
}

#about:after {
  content: "";
  display: table;
  clear: both;
}
#about h1 {
  text-align: right;
  text-transform: uppercase;
  color: #FC5830;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 70px 0 0;
}
#about p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #757575;
  line-height: 25px;
}
#about p:first-of-type {
  margin: 0;
}
#about img {
  max-width: 100%;
}

#contact h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: right;
  color: #FC5830;
  margin: 30px 0 0;
}
#contact h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: right;
  color: #FC5830;
  margin: 0 0 20px;
  text-transform: uppercase;
}
#contact form:after {
  content: "";
  display: table;
  clear: both;
}
#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
  width: 96%;
  padding: 15px 20px;
  margin: 10px 0;
  border: 1px solid #CFD8DC;
  background: #EFEFEF;
}
#contact form input[type="text"]::placeholder,
#contact form input[type="email"]::placeholder,
#contact form textarea::placeholder {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #757575;
  font-size: 15px;
  font-weight: 500;
}
#contact form input[type="submit"] {
  float: right;
  padding: 10px 90px;
  text-transform: uppercase;
  color: #fff;
  background: #FC5830;
  border: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 500;
}
#contact form input[type="submit"]:hover {
  background: #fc7959;
  cursor: pointer;
}

footer span {
  color: #757575;
  font-family: Georgia, "Times New Roman", Times, serif;
}
