$backgroundBody: #EFEFEF;
$border:#CFD8DC;
$linkNav:#FC5830;
$linkHover:#fdab97;
$toolbar:#FC5830;
$toolbarBackground:#EFEFEF;
$articleBackground:#FFFFFF;
$postDescription:#BDBDBD;
$h3Color:#617D8A;
$fontFamily:Georgia, 'Times New Roman', Times, serif;
$h1Color:#FC5830;
$pColor:#757575;
$pMain:#757575;
$placeholder:#757575;
$colorInputSubmit:#fff;
$InputSubmitBackground:#FC5830;
$InputSubmitHover: #fc7959;
$footer:#757575;