$backgroundBody: #fff;
$border:#617D8A;
$linkNav:#1FBCD3;
$linkHover:#78d6e4;
$toolbar:#1FBCD3;
$toolbarBackground:#fff;
$articleBackground:#EFEFEF;
$postDescription:#159587;
$h3Color:#1697A6;
$fontFamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$h1Color:#1FBCD3;
$pColor:#757D8A;
$pMain:#617D8A;
$placeholder:#757575;
$colorInputSubmit:#fff;
$InputSubmitBackground:#1FBCD3;
$InputSubmitHover: #4bc9db;
$footer:#617D8A;